.Pokecard {
    display: flex;
    flex-direction: column; /* Arrange elements vertically */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 300px; /* Adjust height as needed */ /* Example for visual reference */
    width: 150px;
    background-color: rgb(192,192,192);
    border-radius: 25px;
}

.Pokecard-name {
    margin: auto;
    color: blue;
}